@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  margin: 0 auto;
}

header,
main,
footer {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 30px;
}

.header-wrap,
.main-footer-wrap {
  background-color: #f9f8f3;
}

.main-wrap {
  background-color: #fff;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.mobile-nav-btn {
  display: none;
  cursor: pointer;
}

.close-mobile-nav {
  padding: 18px;
  border: 0;
  border-bottom-left-radius: 5px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  font-size: 2rem;
}

.mobile-nav {
  transform: translateX(100%);
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}

.mobile-nav a {
  display: block;
}

.mobile-nav h1 {
  padding: 50px 50px 0 50px;
}

.mobile-nav.show {
  transform: translateX(0);
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.main-nav a {
  text-decoration: none;
  margin: 0 10px;
}

.main-nav a:visited {
  color: inherit;
}

.bold {
  font-weight: bold;
}

.btn {
  border: 0;
  border-radius: 5px;
  padding: 15px 20px;
  cursor: pointer;
  font-weight: bold;
}

.purple-btn {
  background-color: #4e13d1;
  color: #fff;
}

.purple-text {
  color: #5e26db;
  font-weight: bold;
}

.white-btn {
  background-color: #fff;
  color: #5e26db;
}

.purple-link {
  color: #4e13d1;
  font-weight: bold;
}

section {
  display: flex;
  flex-direction: column;
}

.hero {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero > div {
  flex: 50%;
}

.image-container {
  width: 100%;
}

.image-container img {
  width: 100%;
}

.features {
  margin-top: 20px;
}

.check-mark-contain {
  display: inline-flex;
  align-items: center;
}

.check-mark-contain > img {
  margin-right: 5px;
}

.features > span {
  margin-right: 10px;
}

.features > img {
  margin-right: 5px;
}

.feature-cards {
  display: flex;
  justify-content: space-between;
}

.feature-card {
  width: 300px;
}

.portfolio-showcase {
  display: flex;
  align-items: center;
  background-color: #4e13d1;
  color: #fff;
  border-radius: 5px;
  padding: 20px 20px 0px 20px;
  margin-bottom: 20px;
}

.showcase-img img {
  vertical-align: middle;
}

.user-cards {
  display: flex;
  justify-content: space-between;
}

.user-card {
  padding: 20px;
  width: 310px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.user-info {
  display: flex;
  align-items: center;
}

.user-name {
  color: #5e26db;
  font-weight: bold;
}

.user-info img {
  margin-right: 10px;
}

.user-btn {
  background-color: #fff;
  color: #5e26db;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

.main-footer {
  display: flex;
  margin-top: 20px;
}

.main-footer a {
  color: inherit;
  text-decoration: none;
}

.footer-content {
  flex: 25%;
}

.footer-block {
  flex: 1;
}

.footer-nav a {
  display: block;
  margin-bottom: 5px;
}

.footer-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.1rem;
}

@media (max-width: 760px) {
  .mobile-nav-btn {
    display: block;
  }

  .hero {
    flex-direction: column;
  }

  .hero-body {
    order: 1;
  }

  .hero-img {
    width: 75%;
  }

  section {
    padding: 10px;
  }

  .ratings-container {
    display: none;
  }

  .hero-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section div button {
    width: 100%;
    margin-bottom: 20px;
  }

  .desktop-nav {
    display: none;
  }

  .feature-cards {
    flex-direction: column;
  }

  .feature-cards .feature-card,
  .user-cards .user-card {
    margin-bottom: 20px;
  }

  .user-cards {
    flex-direction: column;
    align-items: center;
  }

  .portfolio-showcase {
    flex-direction: column;
  }

  .main-footer {
    flex-direction: column;
  }

  .main-footer div:last-of-type {
    margin-bottom: 30px;
  }
}
